<.flash_group flash={@flash} />
<div>
  <h1>Pokemon: <%= @pokemon["name"] %></h1>
  <p>Height: <%= @pokemon["height"] %></p>
  <p>Weight: <%= @pokemon["weight"] %></p>
  <p>Order: <%= @pokemon["order"] %></p>
  <a href="/pokemon-habitat/forest">GO TO HABITAT</a>
</div>
